body{
    font-family: 'Oswald', sans-serif;
}

/* ---------- 
header design 
-------------- */

.header-container{
    background-color: #161616;
    width: 1320px;
    height: 645px;
    position: relative;
    margin: 50px 110px;
    border-radius: 30px;

}

.header-container:hover{
    border-top: 20px solid slategray;
    border-left: 15px solid slategray;
}

.inner-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.web-title{
    width: 530px;
    height: 425px;
}

.web-title h1{
    color: white;
    font-size: 70px;
    margin: 0px;
}

.web-title p {
    color: white;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.web-title a{
    text-decoration: none;
    background-color: darkred;
    color: whitesmoke;
    padding: 15px;
    border-radius: 10px;
}
.web-title a:hover{
    border-left: 10px solid fuchsia;
}
.fa-play{
    color: whitesmoke;
    margin-left: 10px;
}

#top-img {
    width: 580px;
    height: 595px;
    margin-top: 50px;
}

/* -------------
 Inner Container 
 ---------------- */
.middle-container{
    width: 1320px;
    margin: 50px 110px;
    display: grid;
    grid-template-columns: repeat(2,1fr auto);
    gap: 20px;
    
}
.menue{
    background-color: #161616;
    width: 310px;
    height: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 5px;
}
.menue-items{
    width: 240px;
    height: 50px;
    text-decoration: none;
    color: black;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
}
.blog{
    border-radius: 10px;
    background-color: antiquewhite;
}
.top-blog{
    width: 100%;
}
.top-blog img{
    width: 312px;
    height: 175px;
    border-radius:10px 10px 0px 0px ;
}
.blog-content{
    padding: 20px;
}
.blog-content a{
    text-decoration: none;
    border: 3px solid black;
    border-radius: 5px;
    color: firebrick;
    padding:5px;
}
.blog-content span{
    margin-left: 20px;
}
.fa-clock,.fa-message{
    color: red;
}
.footer{
    background-color: #161616;
    text-align: center;
    padding: 30px;
}
.footer h1{
    color: white;
    font-size: 40px;
}
.last a{
    text-decoration: none;
    color: whitesmoke;
    margin-left: 20px;
}
.footer h3{
    color: white;
}
.footer span{
    margin-left: 20px;
    margin-right: 20px;
}