body{
    font-family: 'Oswald', sans-serif;
}

/* ---------- 
header design 
-------------- */

.header-container{
    background-color: #161616;
    width: 1320px;
    height: 645px;
    position: relative;
    margin: 50px 110px;
    border-radius: 30px;
    box-shadow: rgb(0, 0, 0) 0px 25px 50px -12px;

}
.header-container:hover{
    
    box-shadow:
    3px 3px crimson,
    4px 4px crimson,
    5px 5px crimson;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
} 

.inner-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.web-title{
    width: 530px;
    height: 425px;
}

.web-title h1{
    color: white;
    font-size: 5vw;
    margin: 0px;
}

.web-title p {
    color: white;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.web-title a{
    text-decoration: none;
    background-color: darkred;
    color: whitesmoke;
    padding: 15px;
    border-radius: 10px;
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }
.fa-play{
    color: whitesmoke;
    margin-left: 10px;
    animation: zoom-in-zoom-out 1s ease infinite;
}

#top-img {
    max-width: 100%;
    height: 595px;
    margin-top: 50px;
}

/* -------------
 Inner Container 
 ---------------- */
.middle-container{
    width: 1320px;
    margin: 50px 110px;
    display: grid;
    grid-template-columns: repeat(2,1fr auto);
    gap: 20px;
    
}
.menue{
    background-color: #161616;
    width: 310px;
    height: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 5px;
    box-shadow: rgb(0, 0, 0) 0px 25px 50px -12px;
}
.menue-items{
    width: 240px;
    height: 50px;
    text-decoration: none;
    color: black;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
}
.blog{
    border-radius: 10px;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

}
.top-blog{
    width: 100%;
}
.top-blog img{
    width: 100%;
    height: 175px;
    border-radius:10px 10px 0px 0px ;
}
.blog-content{
    padding: 20px;
}
.blog-content a{
    text-decoration: none;
    border: 3px solid black;
    border-radius: 5px;
    color: firebrick;
    padding:5px;
}
.blog-content span{
    margin-left: 20px;
}
.fa-clock,.fa-message{
    color: firebrick;
    animation: zoom-in-zoom-out 1s ease infinite;
}
.extra{
    margin: 0 auto;
    display: none;
}
.extra-button{
    width: 100px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 1em;
    background-color: maroon;
}
.footer{
    background-color: #161616;
    text-align: center;
    padding: 30px;
}
.footer h1{
    color: white;
    font-size: 40px;
}
.last a{
    text-decoration: none;
    color: whitesmoke;
    margin-left: 20px;
}
.footer h3{
    color: white;
}
.footer span{
    margin-left: 20px;
    margin-right: 20px;
}
/* media responsive */
@media only screen and (max-width:688px){
    .header-container{
        width: 100%;
        margin: auto;
        height: auto;
    }
    .inner-header{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .web-title{
        width: 100%;
        height: auto;
        text-align: center;
    }
    .web-title p {
        text-overflow: ellipsis;
        font-size: 15px;
    }
    .web-title a {
        padding: 25px;
    }

    .middle-container{
        width: 100%;
        height: auto;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .menue{
        background-color: unset;
        align-items: center;
    }
    .menue-items{
        width: 150px;
        padding: 0;
        border: 1px solid black;
    }
    .blogs{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 15px;
    }
    .footer{
        text-align: center;
    }
    .last{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .social{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

}

@media only screen and (min-width:681px) and (max-width:992px) {
    .header-container{
        width: 100%;
        margin: auto;
        height: auto;
    }
    .inner-header{
        display: flex;
        gap: 0;
    }
    .web-title{
        width: 100%;
        height: auto;
        margin-left: 15px;
    }
    .web-title p {
        font-size: 15px;
    }
    .middle-container{
        width: 100%;
        height: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .menue{
        background-color: unset;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 100px;
        margin-left: 250px;
    }
    .menue-items{
        width: 100%;
        border: 1px solid black;
    }
    .blogs{
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2, auto);
        grid-auto-rows: 0; /* set height to 0 for autogenerated grid rows */
        overflow-y: hidden;/* hide grid items that overflow */
        gap: 0;

    }
    .extra{
        display: block;
    }
    .footer{
        text-align: center;
    }
    .last{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .social{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
